/* .stretched-link::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    pointer-events: auto;
    content: "";
    background-color: rgba(0,0,0,0);
} */


body {
    background: #fff;
    position: relative;
    background-attachment: fixed;
background-clip: border-box;
background-origin: border-box;
background-position: center;
background-size: auto;
    background-repeat: repeat;
}
* {
    box-sizing: border-box;
    font-family: "FontAwesome Regular";
    
} 

#navbar {
    box-shadow: 0px 2px 0px 0px #3384f2, 0px 2px 2px 1px rgba(44,44,44,100), 0px -1px 1px 0px rgba(46, 74, 229, 0.2) inset;
    transition: 0.4s;
    padding: 10px 0px;
    background: #fff;
}

#logo-img {
    padding-left: 10px;
    transition: 0.4s;
    width: 60px;
    height: 60px;
}
#brand-txt {
   font-size: 18px;
line-height: 9px;
letter-spacing: 0.012em;
font-weight: bold;
    color: #6c757d;
    transition: 0.4s;
    padding-left: 9px;
    vertical-align: middle;
} 
.nav-item {

line-height: 30px;
letter-spacing: 2px;
margin: 3px 7px;
     font-weight: bold;
    transition: all 0.5s;
}
.nav-item:hover {
    background: aliceblue;
    border-radius: 5px;
    transition: all 0.5s;
}
.nav-link.active {
   border-bottom: solid 3px #3885ff;
    transition: all 1s linear;

color: #3885ff !important;
    
}
.nav-link {
    border-bottom: solid 3px gray;
    
    
}
.nav-mrg {
    margin-right: 20px;
    
}
#mb {
     
    margin: 0px 10px;
   /*  float: right; */
}



.slider-home {
    padding-top: 90px;
    padding-bottom: 10px;
    margin-top: 0px;
    
    
    
}
#car1 {
    background-image: url(../images/slider/home/image-asset.jpg);
    background-clip: border-box;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;  
}
#car2 {
    background: url(../images/slider/home/solar-systems.jpg);
    background-clip: border-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;  
}
#car3 {
    background: url(../images/slider/home/hvac-systems-new.jpg);
    background-clip: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
#car4 {
    background: url(../images/slider/home/gas-extinguishing-systems.jpg);
    background-clip: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
#car5 {
    background: url(../images/slider/home/fan-b.jpg);
    background-clip: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
.slider-img {
    height: 87vh;
}
.carousel-caption h1 {
    font-size: 40px;
color: rgb(255, 255, 255);
background: rgba(56, 133, 255, 0.61);
padding-top: 6px;
padding-bottom: 6px;
border-radius: 10px;
    
}
.carousel-caption p {
        font-size: 18px;
color: rgb(60, 60, 60);
background: rgba(255, 255, 255, 0.6);
padding-top: 6px;
    padding-bottom: 6px;
border-radius: 10px;
    }
.carousel-caption p:hover{
color: rgb(255, 255, 255);
    background: rgba(5, 5, 5, 0.6);
    }
.carousel-control-prev-icon, .carousel-control-next-icon {
    opacity: 0;
    transition: all 0.3s;
    
}
.carousel-control-prev:hover > .carousel-control-prev-icon {
    opacity: 1;
    
}

.carousel-control-next:hover > .carousel-control-next-icon {
    
    opacity: 1;
}


#about {
    
}




.section-header .section-title {
font-size: 34px;
text-transform: uppercase;
position: relative;
padding-bottom: 20px;
margin: 10px 0px 35px 0px;
font-family: 'Roboto-medium';
font-weight: bolder;
text-shadow: 0px 1px 1px rgba(255, 254, 254, 0.66), -3px 1px 1px rgba(26, 26, 26, 0.66) ;
}
.section-title {
    padding-top: 20px;
    
}
.section-dsc {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 40px;
    color: #5f5f5f;
    
}

.section-header .section-title::before {
    content: "";
    position: absolute;
    width: 140px;
    bottom: 0;
    left: 50%;
    margin-left: -70px;
    height: 1px;
    background: #ff641b;
}
.section-header .section-title::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: -11px;
    left: 50%;
    margin-left: -12px;
    border: 5px solid #fff;
    border-radius: 20px;
    background: #ff641b;
}
.art-hold {
    padding-top: 18px;
    padding-bottom: 30px;
    padding-left:  25px;
    padding-right:  25px;
    background: #ffffff;
    margin-top: 5px;
 margin-bottom: 20px;
box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.57); 
}
.t-hold {

        padding-top: 0px;
    padding-bottom: 30px;
    padding-left:  0.5px;
    padding-right:  0.5px;
    background: #9292af;
   margin-top: -30px;
  margin-bottom: 20px; 
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.57);
   
}

.aw-hold {
    border-right: solid 0px #86360f;
    color: white !important;
    background: url(../images/bgs/aw33.jpg);
    background-attachment: scroll;
background-clip: border-box;
background-origin: border-box;
background-position: center;
background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 80px 70px -50px #951d118f inset, 0px 20px 70px -50px #f7c9408f inset;

}
.aw-hold p {
    color: #fff;
    
}
.aw-crd {
    border-left: 5px solid #d54d0b;
background: rgba(64, 8, 8, 0.42);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   margin-top: 20px;
    box-shadow: 3px 2px 3px 0px rgba(255, 238, 41, 0.1);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
   
}
.aw-tit {
    padding-top: 8px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px 0px 3px 0px;
    color: white;
    
line-height: 1.1;
    font-size: 1.2rem;
font-weight: 700;
    text-transform: uppercase;
    
    
}
.aw-hr {
    margin-top: 7px;
    height: 1px;
    border-radius: 5px;
    width: 100%;
    position: absolute;
left: 1px;
right: 1px;
    background: rgba(255, 255, 255, 0.29);
    
}
.aw-img {
    position: inherit;
left: 25%;
right: 25%;
    margin-top: 15px;
    
    
    
}

.myrow {
padding-left: 3px;
    padding-right: 3px;
    margin-left: 3px;
    margin-right: 3px;
    
}


.artt {
    background: rgba(255, 255, 255, 0.26);
    padding: 5px;
    font-size: 14px;
    margin-top: 60px;
    font-family: "segoe ui";
    
    
}

#services {
    counter-reset: section;
    
    
}
.my-row {
    margin-top: 50px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
    height: auto;
    object-fit: fill;
    padding: 10px 20px;
}
.crd {
    background: white;
    padding: 0px 0px;
    margin: 10px 0.5%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.57);
    border-top: solid 3px #135caa;
    border-bottom: solid 8px #135caa;
    height: 100%;
     

}
.sv-tit {
    display: block;
    text-align: center;
    text-transform: uppercase;
    
    
    
    
}
/* .crd:hover {
    background: gray;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.57);
    border-top: solid 5px #135caa;
    border-right: solid 3px #135caa;
    border-left:  solid 3px #135caa;
    height: 100%; */

}

.crd-img {
    border-top-left-radius:0;
border-top-right-radius: 0;
    padding: 0px;
    height: 310px;
    width: 100%;
   
    
}
.card-body {
    padding: 2px;
    background: #ffffff;
    color: white;
    box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.39) inset
    
    
}
.crd-tit-d::before {
    counter-increment: section;
content: "#" counter(section);
padding: 2px 8px;
background: white;
color: #548bd5;
float: left;
clear: both;
position: relative;
max-height: 100%;
max-width: 100%;
font-size: 15px;
overflow: visible;
line-height: 25px;
font-weight: 700;
/*    border-right: 1px dashed #454545;*/
    
}
.crd-tit-d {
    background: rgba(33, 104, 201, 0.77);
    display: block;
    width: 100%;
    padding: 2px 0px;
    border-top: dashed 1.4px white;
    border-bottom: dashed 1.4px white;
    position: relative;
/*    bottom: 34px;*/
    right: 0px;
    left: 0px;
    overflow: visible;
    word-break: break-all;
    object-fit: fill;
    float: left;
    clear: both;
    margin: 5px auto;
}
.crd-tit {
    font-weight: bolder;
    
    text-transform: uppercase;
    text-shadow: 0px 0px 1px rgb(181, 181, 181);
    position: relative;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 2px;
    line-height: 160%;
}
.dsc {
    margin-bottom: 10px;
    margin-top: -20px;
    color: #122f4b;
    font-size: 14px;
    word-wrap: break-word;
    overflow: auto;
    border-right: dashed 0px #122f4b;
    float: left;
    clear: both;
    padding: 5px;
    display: none;
}
.crd-btn {
   margin: 5px 3px;
    border: dotted 1.3px #2d5fa2;
    background-color: #ece9ff!important;
    color: #0e4590;
        font-weight: bolder;
    font-size: 14px;
    float: left;
    clear: both;
}
a.crd-btn:hover {
    background-color: #053d67!important;
    
}
#agancy-card {
    margin-bottom: 10px;
    
}

#agancies a {
    text-decoration: none;
    
}

.jst-bg {
    
    border-radius: 10px;
}


.agn-img {
    width: 100%;
    
    
}
.agn-name {
    padding-top: 8px;
padding-bottom: 6px;
padding-left: 0px;
padding-right: 0px;
margin: 0px 0px 3px 0px;
color: white;
line-height: 1.1;
font-size: 1.2rem;
font-weight: 700;
text-transform: uppercase;
    background: rgba(49, 49, 49, 0.69);
    overflow: visible;
word-break: break-all;
}
.agn-name:hover {
    background: rgba(0, 37, 106, 0.67);
    
}
.bk-dv {
    position: absolute;
    left: 50%;
    width: 3px;
    background: white;
    height: 58.5%;
    
}
.cities-block{
    background: rgba(219, 219, 219, 0.29);
    
    
}
.cities {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    background:  rgba(31, 31, 31, 0.75);
    width: 100%;
}
.c-phone {
    display: block;
    text-align: left;
    text-transform: uppercase;
    color: white;
    word-break: break-all;
    overflow: visible;
    margin: 26px 0px;
    font-size: 18px;
letter-spacing: 0.101em;
font-weight: 600;
    text-decoration: none;
}
.c-fax {
    display: block;
    text-align: left;
    text-transform: uppercase;
    color: white;
    word-break: break-all;
    overflow: visible;
    margin: 26px 0px;
    font-size: 18px;
letter-spacing: 0.101em;
font-weight: 600;
     text-decoration: none;
}
.c-location {
    display: block;
    text-align: left;
    text-transform: uppercase;
    color: white;
    word-break: break-all;
    overflow: visible;
    margin: 26px 0px;
    font-size: 18px;
letter-spacing: 0.101em;
font-weight: 600;
}
.c-email {
    display: block;
    text-align: left;
    text-transform: uppercase;
    color: white;
    word-break: break-all;
    overflow: visible;
    margin: 26px 0px;
    font-size: 18px;
letter-spacing: 0.045em;
font-weight: 600;
     text-decoration: none;
}

.c-email, .c-location, .c-fax, .c-phone {
    background: gray;
padding: 2px;
    
}
.cities-block > p:hover {
    background: rgba(56, 133, 255, 0.56);
    
}

.c-n-i {
    margin-right: 9px;
    padding: 6px;
    background: #464646;
    
    
}
.loc-hld {
    padding-top: 25px;
    
    
}
.loc-tit {
    font-size: 33px;
line-height: 0px;
letter-spacing: 0.12em;
font-weight: 600;
    color: white;
    
}
.loc-dsc {
    padding-top: 5px;
    letter-spacing: -0.046em;
font-size: 17px;
font-weight: 600;
line-height: 17px;
    color: darkgray;
    width: 60%
}
.loc-social {
    padding-top: 9px;
    letter-spacing: -0.046em;
font-size: 17px;
font-weight: 600;
line-height: 17px;
    color: darkgray;
    width: 60%
}
.soc {
    font-size: 33px;
line-height: 40px;
letter-spacing: 2.89px;
font-weight: 500;
    
}
.f-ca{
    position: absolute;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
background: rgba(72, 72, 72, 0.5);
width: 100%;
height: 105%;
content: "";
border-radius: 5px;
margin: -10px -5px -10px 6px;
    
}
.f-cb, .f-cb:hover {
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 44px;
line-height: 58px;
letter-spacing: 0.062em;
font-weight: 800;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    padding-top: 25%;
}
.ifr-con {
    width: 100%;
    height: 324px;
}


.f-blk {
    display: block;
    width: 100%;
    margin: 15px 5px;
    height: 40px;
font-family: 'Roboto-regular';
color: #323232;
    
}

.footer {
    position: static;
right: 0;
left: 0;
    bottom: 0px;
background: #212121;
    
height: 35px;
    color: whitesmoke;
    padding: 3px 5px;
    margin-top: 20px;
    
}





.mr {
   /*  border-top: 6px solid #535353 ;
    border-bottom: 6px solid #535353 ;
    background: #f1f1f1; */
    margin-left: -24px !important;
    margin-right: -24px !important;
/* box-shadow: 0px 1px 15px 0px #101011a8 inset ; */
    
    
}




.bg-pp {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("../images/bgs/bg1.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    border-bottom: solid 0px white;
    border-top: solid 0px white;
    border-left: solid 0px #ff6c00;
    border-right: solid 0px #ff6c00;
    /* box-shadow: 0px 3px 3px 0px blue; */
}
.bg-bl {
    background: #132125 url(images/bgs/bg.jpg) no-repeat 0 0;
    background-color: rgb(19, 33, 37);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("../images/bgs/bg.jpg");
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: cover;
    color: white;
    border-bottom: solid 0px white;
    border-top: solid 0px white;
    border-left: solid 0px #ff6c00;
    border-right: solid 0px #ff6c00;
    background-blend-mode: none;
}
.bg-cont {
    background: rgba(240, 240, 240, 0.12) url(images/bg1.jpg) no-repeat 0 0;
    background-color: rgba(240, 240, 240, 0.12);
    background-position-x: 0px;
    background-position-y: 0px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("../images/bgs/bg3.jpg");
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    background-size: cover;
    color: white;
    border-bottom: solid 0px white;
    border-top: solid 0px white;
    border-left: solid 0px #ff6c00;
    border-right: solid 0px #ff6c00;
    opacity: 3%;
}
.bg-services {
    background: url(../images/bgs/bg2.jpg);
    background-size: auto;
    background-position: top center;
    background-size: cover;
    background-blend-mode: color;
    /* box-shadow: 0px 10px 9px 2px #e7e7e7 inset; */
    
    
}

.dimmer {
    background: #505050;
    opacity: 100%;
    width: 100%;
    height: auto;
}

.cl-w-bg-b {
    color: white !important;
    background: rgba(31, 31, 31, 0.75);
    padding-bottom: 5px;
    padding-top: 2px; 
    text-transform: uppercase;
    
}
.cl-w {
    color: white !important;
    
}
.cl-lg {
    color: #cecece !important;
    
}




.nonetit{
    text-shadow: none !important;
    
    
}



.th-1-d {
    background-image: url(../images/pats/country-quilt-dark.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th-2-d {
    background-image: url(../images/pats/dark-honeycomb.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th-3-d {
    background-image: url(../images/pats/prism.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th-1-l {
    background-image: url(../images/pats/double-bubble-outline.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th-2-l {
    background-image: url(../images/pats/stripes-light.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th-f {
    background-attachment: fixed;
    
}
.th-s {
    background-attachment: scroll;
    
}



/* //////// START ANIMATIONS //////// */


.anit {
    opacity: 0;
    /* transform: translateY(50px); */
    transition: all 1s ease-out;
    
    
}
.anit.fade-in {
    opacity: 1;
    /* transform: translateY(0); */
    
    
}

.f-s {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s ease-out;
    
    
}
.f-s.ff-s {
    opacity: 1;
    transform: translateX(0);
    
    
}
.rv-f-s {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1.4s ease-out;
    
    
}
.rv-f-s.rv-ff-s {
    opacity: 1;
    transform: translateX(0);
    
    
}

/* //////// END ANIMATIONS //////// */

/* start media quiries */
@media (min-width: 992px) {
    .l-b {
        border-left: 2px solid white;
        
    }

}
@media (max-width: 770.98px) { 

.nav-item {
    
line-height: 5px;
letter-spacing: 2px;
margin: 3px 7px;
    padding: 0px;
    text-align: center;
    font-size: 14px;
}    
.nav-link {
    border-bottom: solid 1px rgba(128, 128, 128, 0.3);
    
    
} 
.nav-link.active {
   border-bottom: solid 2px rgba(48, 120, 255, 0.5);
transition: all 1s linear;

color: #3885ff !important;
    
}    

.slider-home {
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 60px;
    height: auto;
}    
    
.d-none {
        
    display: flow-root !important;
    }  
#brand-txt {
   font-size: 18px;
    vertical-align: middle;
} 
   
#car1 {
    background: url(../images/slider/home/cctv-h.jpg);
    background-clip: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
#car2 {
    background: url(../images/slider/home/solar-h.jpg);
    background-clip: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
#car3 {
    background: url(../images/slider/home/hvac-h.jpg);
    background-clip: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
#car4 {
    background: url(../images/slider/home/fire-h-1.jpg);
    background-clip: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}     
#car5 {
    background: url(../images/slider/home/fan.jpg);
    background-clip: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
    
} /*end media 770*/

@media (max-width: 550.00px) { 
    .carousel-caption h1 {
       font-size: 22px; 
        font-weight: bolder;
    }
    .carousel-caption p {
        font-size: 14px;
color: rgb(210, 210, 210);
background: #7373734a;
padding-top: 6px;
border-radius: 10px;
        padding-bottom: 6px;
    }
    .carousel-caption p:hover{
color: white;
    }
    .wpcf7{
        margin-left: -20px;
        width: 107%;
        
    }
} /*end media 550*/

@media (max-width: 410.00px) { 

#brand-txt {
   font-size: 15px;
    vertical-align: middle;

} 
#mb {
     display: inline-block;
    margin: 0px 10px;
}    

    .slider-img {
    height: 79vh;
}
    
} /*end media 410*/

@media (max-width: 342.00px) { 
#brand-txt {
   font-size: 13px;
    vertical-align: middle;

} 
#mb {
     display: inline-block;
    margin: 0px 10px;
}  
    

    
} /*end media 342*/




@media (max-width: 330.00px) { 

#brand-txt {
   font-size: 15px;
    vertical-align: middle;

} 
#mb {
     display: block;
    width: 100%;
    margin: 0px 10px;
}    
  
   
    

} /*end media 330*/



