
.th1d {
    background-image: url(../images/pats/country-quilt-dark.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th2d {
    background-image: url(../images/pats/dark-honeycomb.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th3d {
    background-image: url(../images/pats/prism.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th4d {
    background: url(../images/pats/what-the-hex-dark.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th5d {
    background: url(../images/pats/y-so-serious-white.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}


.th1l {
    background-image: url(../images/pats/double-bubble-outline.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th2l {
    background-image: url(../images/pats/stripes-light.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th3l {
    background: url(../images/pats/y-so-serious.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th4l {
    background: url(../images/pats/full-bloom.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th5l {
    background: url(../images/pats/interlaced.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th6l {
    background: url(../images/pats/leaves.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th7l {
    background: url(../images/pats/memphis-mini.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th8l {
    background: url(../images/pats/oriental.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th9l {
    background: url(../images/pats/qbkls.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th10l {
    background: url(../images/pats/spikes.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
    
    background-blend-mode: color-burn;
background-color: #0287bb;
}
.th11l {
    background: url(../images/pats/tic-tac-toe.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th12l {
    background: url(../images/pats/tiny-squares.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th13l {
    background: url(../images/pats/webb-dark.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th14l {
    background: url(../images/pats/webb.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}
.th15l {
    background: url(../images/pats/what-the-hex.png);
    background-position: top left;
    background-size: auto;
    background-repeat: repeat;
}

.bg1 {
    background: url(../images/bgs/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg2 {
    background: url(../images/bgs/bg1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg3 {
    background: url(../images/bgs/bg2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg4 {
    background: url(../images/bgs/bg3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg5 {
    background: url(../images/bgs/6.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.awbg {
    background: url(../images/bgs/aw2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
}
.awbg2 {
    background: url(../images/bgs/aw3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
}
.awbg3 {
    background: url(../images/bgs/aw33.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
}



.bg-f {
    background-attachment: fixed;
    
}
.bg-s {
    background-attachment: scroll;
    
}


.shd-w-v-b {
    -webkit-box-shadow: 0px 5px 50px -2px white inset, 0px -5px 50px -2px white inset;
    box-shadow: 0px 5px 50px -2px white inset, 0px -5px 50px -2px white inset;
    
    
}
.shd-awards {
    -webkit-box-shadow: 0px 0px 0px 4px #ffd35091, 0px 0px 7px 7px #00000040;
    box-shadow: 0px 0px 0px 4px #ffd35091, 0px 0px 7px 7px #00000040;
    
    
}
.c-w {
    color: white !important;
}



@media (max-width: 772.98px) { 
    .bg3 {
    background: url(../images/bgs/bg2.jpg);
    background-position: top right;
background-size: contain;
background-repeat: no-repeat;
}
    
    
    
}    

@media (max-width: 410.00px) { 

}

@media (max-width: 300.00px) { 

}
